body {
    margin: 0;
    padding: 0;
    background-color: #FFCCCC;
}

.body {
    width: 900px;
    height: 400px;
    background-color: white;
    margin: 100px auto;
    border-radius: 10px;;
}

form {
    margin: 0 50px;
    width: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
}